.positionBox 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; 
    margin-left: 25%; 
    min-height: 20vh;
    padding: 16px;
  }
  